@import "~bootstrap/scss/bootstrap";
// ----------------------variable-----------------------
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGold: #c49a6c;
$colorSilver: #C0C0C0;
$colorGreenEmerald: #50C878;
$colorBackground: #EFEFEF;

$fontHeveltica: 'Helvetica', sans-serif;
$fontVerdana: 'Verdana', sans-serif;

$fontSizeTextMob: 1rem;
$fontSizeTitle: 1.75rem;
$fontSizeTitleMob: 1.5rem;
$fontSizeH2: 1.625rem;
$fontSizeH2Mob: 1.375rem;
$fontSizeText: 1.25rem;
$fontSizeFooter: 0.75rem;
$fontSizeFooterTitle: 1rem;
$fontSizeH1: 3rem;
$fontSizeH1Mob: 2rem;

$fontWeight400: 400;
$fontWeight600: 600;
$fontWeight700: 700;

$fontStyleText: normal;
$lineHeightText: normal;

// ----------------------mixin-----------------------

@mixin myText($fontFamily,
    $fontColorText,
    $fontSize,
    $fontStyle,
    $fontWeight,
    $lineHeight) {
    font-family: $fontFamily;
    color: $fontColorText;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

//---------------------global----------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

// --------------------body-----------------------

body {
    background-color: $colorBackground;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

footer {
    background-color: $colorBlack;
    opacity: 90%;
    margin-top: auto;
}

// --------------------offcanva---------------
.offcanvas-background {
    background-color: $colorSilver;
}

.button-size {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bi-list {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 600;
    color: $colorSilver;

    &:hover {
        color: $colorGold;
    }
}

nav {
    width: 5%;
}

.logo-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

// -------------------text-----------------------
.offcanva-text {
    @include myText(($fontHeveltica),
        ($colorBlack),
        ($fontSizeTitleMob),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));

    @include media-breakpoint-up(md) {
        @include myText(($fontHeveltica),
            ($colorBlack),
            ($fontSizeTitle),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText));
    }

    &:hover {
        color: $colorGold;
    }
}

.h3-footer {
    @include myText(($fontVerdana),
        ($colorSilver),
        ($fontSizeFooterTitle),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
}

.a-footer {
    @include myText(($fontHeveltica),
        ($colorSilver),
        ($fontSizeFooter),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
    text-decoration: none;

    &:hover {
        color: $colorGold;
    }
}

.p-footer {
    @include myText(($fontHeveltica),
        ($colorSilver),
        ($fontSizeFooter),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
}

.p-vente {
    @include myText(($fontHeveltica),
        ($colorBlack),
        ($fontSizeTextMob),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
    text-align: center;

    @include media-breakpoint-up(md) {
        @include myText(($fontHeveltica),
            ($colorBlack),
            ($fontSizeText),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText));
    }
}

.p-blog {
    @include myText(($fontHeveltica),
        ($colorBlack),
        ($fontSizeTextMob),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        @include myText(($fontHeveltica),
            ($colorBlack),
            ($fontSizeText),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText));
    }
}

.h4-vente {
    @include myText(($fontVerdana),
        ($colorBlack),
        ($fontSizeText),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
    text-align: center;

    @include media-breakpoint-up(md) {
        @include myText(($fontVerdana),
            ($colorBlack),
            ($fontSizeTitleMob),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText));
    }
}

.h4-blog {
    @include myText(($fontVerdana),
        ($colorBlack),
        ($fontSizeText),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
    text-align: center;

    @include media-breakpoint-up(md) {
        @include myText(($fontVerdana),
            ($colorBlack),
            ($fontSizeTitleMob),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText));
    }
}

.h4-vente-a {
    @include myText(($fontVerdana),
        ($colorBlack),
        ($fontSizeText),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
    text-align: center;

    @include media-breakpoint-up(md) {
        @include myText(($fontVerdana),
            ($colorBlack),
            ($fontSizeTitleMob),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText));
    }

    &:hover {
        color: $colorGold;
    }
}

h1 {
    @include myText(($fontVerdana),
        ($colorBlack),
        ($fontSizeH1Mob),
        ($fontStyleText),
        ($fontWeight700),
        ($lineHeightText));
    text-align: center;
    text-decoration: underline;
    margin-top: 4rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
        @include myText(($fontVerdana),
            ($colorBlack),
            ($fontSizeH1),
            ($fontStyleText),
            ($fontWeight700),
            ($lineHeightText));
    }
}

p {
    font-family: $fontHeveltica;
}

.lien-fond-noir {
    @include myText(($fontHeveltica),
        ($colorBlack),
        ($fontSizeTextMob),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
    text-align: center;

    @include media-breakpoint-up(md) {
        @include myText(($fontHeveltica),
            ($colorBlack),
            ($fontSizeText),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText));

        &:hover {
            color: $colorGold;
        }
    }
}

.h2-accueil {
    @include myText(($fontVerdana),
        ($colorBlack),
        ($fontSizeH2Mob),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText));
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    @include media-breakpoint-up(md) {
        @include myText(($fontVerdana),
            ($colorBlack),
            ($fontSizeH2),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText));
    }
}

// -------------------image et icone----------------------------------------------------------------------------------
.img-footer {
    width: 18rem;
    height: auto;
    object-position: center;
    padding: 0;
    margin: 0;
}

.bi {
    color: $colorSilver;

    &:hover {
        color: $colorGold;
    }
}

.bi-check2{
    color: $colorGreenEmerald;
}

.img-certificat{
    width: 4rem;
    height: auto;
    object-fit: cover;
}

// -------------------footer------------------------------------------------------------------------------------
.div-footer1 {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.return-home {
    width: auto;
    height: 3.5rem;
    cursor: pointer;
}

// -------------------ventes accueil-----------------------------------------------------------------------------------------
.vente-card {
    background-color: $colorSilver;
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem 0 $colorGold;
    width: 90%;
}

.image-card {
    width: 30%;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0 $colorGold;
    height: auto;

    @include media-breakpoint-up(md) {
        width: 20%;
        border-radius: 2rem;
    }
}

.img-vente {
    border-radius: 1rem;

    @include media-breakpoint-up(md) {
        border-radius: 2rem 2rem 0 0;
    }
}

.texte-lot-vente {
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }
}

//----------------------accueil-----------------------------------------------------------------------------------
.vente-card-accueil {
    background-color: $colorSilver;
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem 0 $colorGold;
    width: 90%;

    @include media-breakpoint-up(md) {
        width: 45%;
    }
}

.accueil-vente-passe {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.image-card-accueil {
    width: 30%;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0 $colorGold;
    height: auto;

    @include media-breakpoint-up(md) {
        width: 30%;
        border-radius: 2rem;
    }
}

//-------------bouton-----------------------

.btn-vente {
    background-color: $colorWhite;
    color: $colorBlack;

    &:hover {
        background-color: $colorGold;
        color: $colorBlack;
    }
}

.btn {
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    transition: transform 0.5s;
}

.btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    transform: translateY(0.5em);
}

.btn svg {
    transition: transform 0.5s;
}

.btn:hover svg {
    transform: scale(0.9);
    fill: #333333;
}

//---------------------------------card blog accueil--------------------------------
.card2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    box-shadow: 0 0 0.5rem 0 $colorGold;
    padding: 2rem;
    overflow: hidden;
    border-radius: 0.625rem;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);

    @include media-breakpoint-up(md) {
        width: 45%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    color: $colorWhite;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .btn {
    color: $colorBlack;
    text-decoration: none;
    padding: 0.625rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, $colorGold 100%);
    border-radius: 0.313rem;
    box-shadow: 0 0 0.5rem 0 $colorGold;
}

.card2::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0.313rem;
    height: 100%;
    background: linear-gradient(-45deg, #f89b29 0%, $colorGold 100%);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card2:hover::before {
    width: 100%;
}

.card2:hover {
    box-shadow: none;
}

.card2:hover .btn {
    color: #212121;
    background: $colorWhite;
}

.content .btn:hover {
    outline: 2px solid $colorWhite;
    background: transparent;
    color: $colorWhite;
}

.content .btn:active {
    box-shadow: none;
}

.accueil-blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-around;
    }
}

// -------------------article de presse accueil--------------------
.book {
    position: relative;
    border-radius: 0.625rem;
    width: 45%;
    height: 25rem;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}

.cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

.img-presse-accueil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-presse-accueil {
    width: 90%;
}

.accueil-presse {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;

    @include media-breakpoint-up(md) {
        display: none;
    }
}

.accueil-presse2 {
    display: none;

    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
    }
}

// ----------------page vente et lots--------------------------
section.card3 {
    position: relative;
    width: 25rem;
    height: 14,28rem;
    background-color: $colorGold;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 62.5rem;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card3 img {
    // fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 3px;
    width: 100%;
}

.card3:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem #000000;
    background-color: $colorGold;
    color: $colorWhite;
}

.card3__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
    background-color: $colorGold;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
}

.card3:hover .card3__content {
    transform: rotateX(0deg);
}

.card3__title {
    margin: 0;
    padding-left: 5px;
    font-size: $fontSizeTitleMob;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    @include media-breakpoint-up(md) {
        font-size: $fontSizeTitle;
    }
}

.card3:hover img {
    scale: 0;
}

.card3__description {
    margin: 10px 0 0;
    font-size: $fontSizeTextMob;
    color: $colorWhite;
    line-height: 1.4;
    @include media-breakpoint-up(md) {
        font-size: $fontSizeText;
    }
}