@import "~bootstrap/scss/bootstrap";
// ----------------------variable-----------------------
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGold: #FFD700;
$colorSilver: #C0C0C0;
$colorGreenEmerald: #50C878;

$fontHeveltica: 'Helvetica', sans-serif;
$fontVerdana: 'Verdana', sans-serif;

$fontSizeTextMob: 1rem;
$fontSizeTitle: 1.75rem;
$fontSizeSmallTitleDes: 1.5rem;
$fontSizeText: 1.25rem;
$fontSizeFooter: 0.75rem;
$fontSizeFooterTitle: 1rem;

$fontWeight400: 400;
$fontWeight600: 600;
$fontWeight700: 700;

$fontStyleText: normal;
$lineHeightText: normal;

// ----------------------mixin-----------------------

@mixin myText($fontFamily,
    $fontColorText,
    $fontSize,
    $fontStyle,
    $fontWeight,
    $lineHeight) {
    font-family: $fontFamily;
    color: $fontColorText;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

//---------------------global----------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

// --------------------body-----------------------

body {
    background-color: $colorBlack;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

footer {
    background-color: $colorBlack;
    opacity: 90%;
    margin-top: auto;
}

// --------------------offcanva---------------
.offcanvas-background {
background-color: $colorSilver;
}

.button-size {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bi-list{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 600;
    color: $colorSilver;
    &:hover {
        color: $colorGreenEmerald;
    }
}

// -------------------text-----------------------
.offcanva-text{
    @include myText(
        ($fontHeveltica),
        ($colorBlack),
        ($fontSizeSmallTitleDes),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText)
    );

    @include media-breakpoint-up(md) {
        @include myText(
            ($fontHeveltica),
            ($colorBlack),
            ($fontSizeTitle),
            ($fontStyleText),
            ($fontWeight600),
            ($lineHeightText)
        );
    }
    &:hover {
        color: $colorGreenEmerald;
    }
}

.h3-footer {
    @include myText(
        ($fontVerdana),
        ($colorSilver),
        ($fontSizeFooterTitle),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText)
    );
}

.a-footer {
    @include myText(
        ($fontHeveltica),
        ($colorSilver),
        ($fontSizeFooter),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText)
    );
    text-decoration: none;
    &:hover {
        color: $colorGold;
    }
}

.p-footer {
    @include myText(
        ($fontHeveltica),
        ($colorSilver),
        ($fontSizeFooter),
        ($fontStyleText),
        ($fontWeight400),
        ($lineHeightText)
    );

}

// -------------------image et icone-----------------------
.img-footer {
    width: 18rem;
    height: auto;
    object-position: center;
    padding: 0;
    margin: 0;
}

.bi {
    color: $colorSilver;
    &:hover {
        color: $colorGold;
    }
}

// -------------------footer-----------------------
.div-footer1 {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
    }
}