<nav class="fixed-top">
	<button class="btn offcanvas-background button-size" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
		<i class="bi bi-list"></i>
	</button>

	<div class="offcanvas offcanvas-start offcanvas-background" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<ul class="d-flex flex-column align-items-center justify-content-evenly p-0 h-75">
				<li class="nav-item">
					<a class="nav-link active offcanva-text" aria-current="page" href="">Accueil</a>
				</li>
				<li class="nav-item offcanva-text">
					<a class="nav-link active" href="">Ventes</a>
				</li>
				<li class="nav-item offcanva-text">
					<a class="nav-link active" href="">Informations</a>
				</li>
				<li class="nav-item offcanva-text">
					<a class="nav-link active" href="">Vidéos</a>
				</li>
				<li class="nav-item offcanva-text">
					<a class="nav-link active" href="">Photos</a>
				</li>
				<li class="nav-item offcanva-text">
					<a class="nav-link active" href="">Contactez-nous</a>
				</li>
				<li class="nav-item offcanva-text">
					<a class="nav-link" href="">Prendre rendez-vous</a>
				</li>
				<li class="nav-item offcanva-text">
					<a class="nav-link" href="">On parle de nous</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
